<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Scores</title>
</head>

<body>
    <div id="content">
      <p>Scores:</p>

      <table border="1">
	<tr>
	  <th>Team</th>
	  <th>Score</th>
	</tr>
	  {% if teams %}
	  {% for t in teams %}
	  <tr>
	    <td>{{ t.name }}</td>
	    <td>{{ t.team_score }}</td>
	  </tr>
	  {% endfor %}
	  {% endif %}
      </table>
      
    </div>
</body>

</html>
