<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{team.name}} score breakdown</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/dashboard.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/ie.css" /><![endif]-->
  </head>

  <body class="dashboard">

    <!-- Container -->
    <div id="container">

      
      <!-- Header -->
      <div id="header">
        <div id="branding">
          
	  <h1 id="site-name">ECCC 2014 Scoreboard</h1>

	</div>
      </div>
      <!-- END Header -->
      

      <!-- Content -->
      <div id="content" class="colMS">
        
	<div id="content-main">

          <div class="app-scoreboard module">
	    <table>
              <caption>{{ team.name }}</caption>
	      <tr>	
		<th>Competition</th>
		<th>Score</th>
	      </tr>
	      {% if scores %}
	      {% for s in scores %}
	      <tr>
		<td>{{ s.comp.name }}</td>
		<td>{{ s.score }}</td>
	      </tr>      
	      {% endfor %}
	      {% endif %}
	    </table>
          </div>

	</div>
        
        <br class="clear" />
      </div>
      <!-- END Content -->

      <div id="footer"></div>
    </div>
    <!-- END Container -->

  </body>

</html>


<!--

<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>{{ team.name }}</h1>

    <table>
      <tr>
	<td>Competition</td>
	<td>Score</td>
      </tr>

      {% if scores %}
      {% for s in scores %}
      <tr>
	<td>{{ s.comp.name }}</td>
	<td>{{ s.score }}</td>
      </tr>      
      {% endfor %}
      {% endif %}


    </table>


  </body>
</html>

-->
